
.container {
    margin-top: 50px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .form-header svg {
    font-size: 48px;
    margin-right: 10px;
  }
  
  .form-field {
    margin-bottom: 20px;
  }
  
  .form-button {
    margin-top: 30px;
  }
  
  .container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }