.btn-success{
    margin-top:10px;    
}
.btn-danger{
    margin-top:10px;

}
.icons{
    position: relative;
    left: -4px;
    top: -2px;
    margin: 3px;
  }
  ul{
    background-color:darkviolet;
    display: flex;
    margin: 10px;
    list-style-type: none; 
    padding: 30px;

  }
 .style{
    text-decoration: none;
    color:white;
    margin: 10px;
 }
 .style:hover{
    color:white
 }
.form-group{
  margin: 8px;
}
.back-btn:hover{
     color: white;
}
.first-btn{
  margin-right: 2px;
}

